.Xauthority
.aptitude/
.bash_history
.bashrc-make-env
.cache/
.cmake/
.config/
.dbus/
.eclipse/
.gdb_history
.intel/
.ivy2/
.lesshst
.p2/
.python_history
.sbt/
.ssh/
.sudo_as_admin_successful
.swt/
.vim/
.viminfo
.wget-hsts
.xgjdbc_ocient_history
